###########################################################
# Build docker container 
###########################################################

name: Docker Build Smarte Edge

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Login to GitHub Package Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GHCR_TOKEN }}
    - name: install buildx
      id: buildx
      uses: crazy-max/ghaction-docker-buildx@v3
      with:
        version: latest
    - name: docker build data collector monitor module
      run: |
        for module in "NmeaListner" "SampleModule";do
          cd $module
          docker buildx build --push \
              --tag ghcr.io/${GHCR_USERNAME}/$module:latest
              --platform linux/amd64  .
        done 
